body{
	font-family: helvetica;
	font-size: 14px;
	width: 100%;
	margin: 0px;
	overflow-x: clip;
}

div.table{
  	width: 98vw;
	padding-left: 0.5vw;
	overflow-x: scroll;
	overflow-y: hidden;
}

div.column{
	padding-right: calc(min(1.5vw, 5px));
}

.toggle:checked{
	accent-color: grey;
}

.toggle:not(:checked) { 
  accent-color: red;
}


table{
	border-collapse: collapse;
	text-align: center;
	font-size: 12px;
 	table-layout: fixed;
	margin-bottom: 25px;
        width: 5000px;
     }

th {
	padding: 0.1vw;
	border: 0px;
	cursor: n-resize;
	color: white;
     }

th.product {
	background: #4D4F53;
     }
th.material {
	background: #134D37;
     }
th.section {
	background: #73264E;
     }
th.designCodes {
	background: #19575D;
     }
th.apiCodes {
	background: #544D6F;
     }
th.systemReq {
	background: #7E7E74;
     }
th.cost {
	background: #73264E;
     }
tr{
  	border: 1px solid darkgrey;
        padding-bottom: 2px;
	cursor: default;
  }
tr:nth-child(even) {
	background-color: #389c711a;
  }

.logo {
    width: 10vw;
    padding: 1vw;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: #19575D;
    border-radius: calc(min(1vw, 5px));
}

form {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 1500px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
  max-width: 95vw;
  position: sticky;
  left: 0;
}

h1, h4 {
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

div.intro{
  padding-left: 1vw;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 0px;
  margin: 0px;
  position: sticky;
  left: 0;
  width: 1250px;
  max-width: 90vw;
  color: white;
}

div.banner{
  padding: 0px;
  margin: 0px;
  position: sticky;
  left: 0;
  width: 100%;
  height: max-content;
  background: #279C6F;
  z-index: -2;
}

.headers{
  font-size: 16px;
}

.tooltip {
    position: relative;
    cursor: help;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 25%;
    top: calc(100% + 2px);
    opacity: 0.5;
    transition: opacity 0.3s;
    font-size: 14px;
    cursor: text;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

label{
    cursor: pointer;
}

input[type="checkbox"]
{
    cursor: pointer;
}

input[type="number" i] {
    border-radius: 10px;
    border: 0;
    width: 25%;
    background: #279c6f59;
    color: inherit;
    padding-bottom; 1px;
    text-align: center;
    margin-bottom: 2px;
}

input[type="text" i], select {
    visibility: visible;
    border: 0;
    border-radius: 10px;
    padding-inline: 5%;
    width: 60%;
    background: #279c6f59;
    color: inherit;
}

button {
    font-size: small;
    cursor: pointer;
}

.icon {
    height: 1em;
}
.info {
    height: 0.7em;
}

@media (prefers-color-scheme: dark) {
    body{
	background: #333;
	color: white;
    }
    a, button {
  	color: hotpink;
    }
    div.banner{
	background: #113b3f;
    }
    button {background: black;}
    .icon, .info {filter: invert(1);}
}
